* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;

    padding: 0px 80px 0px 80px;

    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.anime_list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    
    list-style: none;
}

.anime_list li {
    text-align: center;
}

.anime_list img {
    max-width: 100%;
}

.anime_list span {
    font-size: 1rem;
}

footer {
    text-align: center;
    margin: 50px 0px;
    border-top: 1px solid #c0c0c0;
    padding-top: 20px;
    color: #c0c0c0;
}